/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Apr-2017, 1:16:16 PM
    Author     : cheikh
*/

.myDialog{
    /*-fx-background-color: #f9d900;*/
}
.myDialog > *.button-bar > *.container{
    /*-fx-background-color: #a9e200;*/
}
.myDialog > *.label.content{
    /*
    -fx-font-size: 14px;
    */
    -fx-font-weight: bold;
    
}
.myDialog:header *.header-panel{
    /*
    -fx-background-color: #a59c31;
    */
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 12px;
    /*
    -fx-font-style: italic;
    -fx-fill: #292929; */
}