
#saveButton {
  -fx-background-image: url("../images/save-icon.png");
  -fx-background-size: 100 100;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#clearButton {
  -fx-background-image: url("../images/clear-icon.png");
  -fx-background-size: 20 20;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#eraserToggle {
  -fx-background-image: url("../images/eraser-icon.png");
  -fx-background-size: 40 40;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

#resetWordButton {
  -fx-background-image: url("../images/reset-icon.png");
  -fx-background-size: 60 60;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}