/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3-Mar-2017, 9:18:51 AM
    Author     : cheikh
*/

#connectButton {
    -fx-background-color: #008439;
    -fx-text-alignment: left;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family : "Century Schoolbook";
    -fx-background-size: 60 60;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}

#connectButton:hover {
    -fx-background-color: #54a878;
}

